*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.contentpart{
    width: 100%;
    min-height: 100vh;
    background-image: url("pickachuposter1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding-top: 6rem;
}
.home {
  display: inline-block;
  background-color: #795690;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: large;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.home a {
  text-decoration: none;
  color: white;            /* better contrast */
  display: flex;
  align-items: center;
}

.home:hover {
  background-color: #6a4e84;
}

.head{
    height: 4rem;
    width: 100%;
    display :flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 0rem;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(20px);
}
.typewriter {
  width: 18ch; /* match the length of the text */
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2.5s steps(18) 1s infinite alternate,
             blink 0.7s step-end infinite;
  font-size: 2rem;
  font-family: monospace;
  color: crimson;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18ch;
  }
}


h3{
    margin-right: 0.9rem;
    color: red;
}
.logo{
    height: 4rem;
    width: 25vw;
    background-image: url("logopokemon.png");
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
    animation: bounce 1s ease-in-out infinite;
    position: relative;
    color: rgb(58, 58, 221);
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.jagan{
    animation: bounce 1s ease-in-out infinite;
}

#search{
    height:2.9rem;
    width: 20rem;
    border-radius: 1rem;
    box-shadow:inset -2px -2px 10px blue;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: x-large;
    padding-left: 1rem;
    border: 2px solid black;
    margin-bottom: 2rem;
}

.count{
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding-top:1rem ;
    padding-bottom:0.2rem ;
    color: red;
    
}
.prevbtn{
    height:2rem ;
    width: 5rem;
    margin-right: 2rem;
    color: white;
    background-color: blue;
    border: 2px solid black;
    border-radius:2rem;
    font-weight: bolder;
    text-align: center;
}
.nextbtn{
    height:2rem ;
    width: 5rem;
    margin-left: 2rem;
    color: white;
    background-color: blue;
    border: 2px solid black;
    border-radius: 2rem;
    font-weight: bold;
}

#type-filters button{
    
  margin-left: 1rem;
    margin-bottom: 0.5rem;
 padding: 5px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e7dbef;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px black;
 transition: all 250ms;
 overflow: hidden;
}

#type-filters button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #6e3482;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

#type-filters button:hover {
 color: #e8e8e8;
}

#type-filters button:hover::before {
 width: 100%;
}
#type-filters{
    margin-bottom: 2rem;
}


.suggestion li{

    backdrop-filter: blur(8px);
    background:rgba(255, 255, 255, 0.3) ;
    color: blue;
    border-radius: 0.5rem;
    height: 2rem;
    margin: 4px;
    text-align: center;
    list-style: none;
    font-weight: 700;
    z-index: 10;
    font-size:x-large ;
}
.suggestion{
    position: absolute;
    z-index: 10;
    width:20rem ;
}



.suggestion li:hover{
    background-color: blue;
    color: white;
    transform: scale3d(1.06, 1.06, 1);
}

.pok-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.pok-container img:hover{
    /* transform: scale(1.3); */
    transform: scale3d(1.4, 1.4, 1.4);
}
.pok-container img {
    transition: transform 0.3s ease;
}


.card {
 width: 190px;
 height: 254px;
 border-radius: 50px;
 /* background: #b2183a; */
 background: linear-gradient(135deg,#b2183a,#b15768,#fe546f,#e0affe);
 box-shadow: 1px 1px 1px #fbb3c8,
               -1px -1px 10px #fbb3c8;
 text-align: center;  
  transition: all 0.3s ease;            
}
.pok-container:has(.card:hover) .card:not(:hover){
    filter:grayscale(1) brightness(0.6);
    transform:scale(0.95);
    transition: all 0.3s ease;
}
.heading{
    color: #391b49;
    font-weight:bolder;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.potype{
    color:#8e05ea;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: 900;
}

.card img{
    height: 10rem;
    width: 8rem;
}

.controlpage{
    margin-bottom: 3rem;
}
.pageinfo{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: #e0e0e0;
    padding: 0.3rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    background: none;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
   height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease;
}

.modal-content {
    display: flex;
    justify-content: center;
  background: linear-gradient(45deg,#6fe6fc,#fefbc7,#6fe6fc,#fefbc7);
  border-radius: 1rem;
  padding: 2rem;
  width: 95%;
  max-width: 600px;
  animation: slideUp 0.4s ease;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  color: #004030;
  font-size: larger;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

.deb{
    color: color-mix(in srgb,pink 50%,red 50%);
}

.close-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: red;
}

.hidden {
  display: none;
}

#modal-data h2 {
  text-transform: capitalize;
  color: #391b49;
}

#modal-data img {
  display: block;
  margin: 1rem auto;
  height: 100px;
}

#modal-data ul {
  padding-left: 1.2rem;
}

#modal-data .evolution-chain span {
  margin: 0 5px;
  font-weight: bold;
  text-transform: capitalize;
}


.loader-screen {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-img {
  width: 150px;
  height: auto;
}

.hidden {
  display: none !important;
}
